h1{
    color:blue;
    letter-spacing:-3px;
    font-family:verdana;
    font-size:40px;
    text-align:center;
  }
  
  p{
    font-size:25px;
    background-color:red;
    border:solid;
    border-width:3px;
    border-color:green;
  }
  header{
    background-color:yellow;
  }
  
  p img{
    width:60%;
    height:auto;
    margin:10px;
    border:solid;
    border-color:white;
  }