h1{
  
  letter-spacing:-3px;
  font-family:verdana;
  font-size:40px;
  text-align:center;
}

p{
  font-size:25px;
  border:solid;
  border-width:3px;
  border-color:black;
}
header{
  background-color:rgb(222, 205, 191);
}

img{
  width:60%;
  height:auto;
}

p img{
  width:80%;
  height:auto;
  margin:10px;
  border:solid;
  border-color:white;
  text-align:center;
}
h3{
text-align:center;
}
center{
align:center;
}
figcaption{
text-align:center;
}
nau ul{
background-color:cyan;
padding:0px;
list-style:none;
width:200px;
border:1px solid;
display: flex;
}

@media all and (min-width: 376px){
  nau ul{
  display:flex;
  justify-content: center;
  gap: 30px;
  }
}
nau ul li{
border-bottom:1px solid;
padding:5px;

}
nau ul li:last-child{
border-bottom:none;
}
nau ul li a{
color:black;
text-decoration:none;
}
.practice{
  background-color:rgb(227, 227, 237);
}

#main{
  color:rgb(0, 0, 0);
}
#second{
  background-color:rgb(245, 245, 245);
  
}
@media screen and (max-width: 992px) {
  body {
    background-color: blue;
  }
}